::selection {
    background-color: rgb(43, 183, 81);
}

html {
    font-family: 'Lexend Zetta', sans-serif;
    color: white;
    background: rgb(0, 0, 0);
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
h1 {
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 650;
}
button {
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 650;
}

body::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
section::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media only screen and (min-height: 150px) {

    .sectionClassP {
        height: 120px;
    }

} 

@media only screen and (min-height: 450px) {

    .sectionClassP {
        height: 200px;
    }

} 

@media only screen and (min-height: 660px) {

    .sectionClassP {
        height: 235px;
    }

}

@media only screen and (min-height: 820px) {

    .sectionClassP {
        height: 345px;
    }

} 

@media only screen and (min-height: 1200px) {

    .sectionClassD {
        height: 345px;
    }

}

.header {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0%;
    height: 35px;
    width: 100%;
    background: rgb(0, 0, 0);
    text-align: center;
    z-index: 2;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 0%;
    height: 60px;
    width: 100%;
    background: rgb(0, 0, 0);
    text-align: center;
    z-index: 2;
}

.boxShadow {
    box-shadow: 0px 50px 50px black;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 98%;
    height: 98%; 
    overflow: hidden;
    
}
.video-container video {
    
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: 80%;
    height: 80%;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.specialButton {
    background: rgba(0, 0, 0, 0);
    border: solid rgba(0, 0, 0, 0) 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 4px;
    text-align: center;
    transition: transform 350ms 45ms;
}
.defaultButton {
    background: rgba(0, 0, 0, 0);
    border: solid rgba(0, 0, 0, 0) 0px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    transition: transform 350ms 45ms;
}


.fadeIn {
    animation: fadeIn 1.3s forwards;
}

.buttonStretchAnim:hover {
    transform: scale(0.95, 1.2);
}
.buttonStretchAnim:active {
    transform: scale(0.85, 1.25);
}

.buttonScaleAnim:hover {
    transform: scale(1.06);
}
.buttonScaleAnim:active {
    transform: scale(0.95);
}

.center {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.progressContainer {
    width: 4px;
    height: 250px;
    background: rgba(14, 14, 14, 0.112);
    overflow: hidden;
    border-radius: 5px;
    border: solid 2px rgb(7, 7, 7);
}
.progressBar {
    height: 0px;
    background: rgb(28, 28, 28);
    width: 100%;
    z-index: 2;
}
.progressBarPosition {
    position: fixed;
    margin: 5px;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
}
/*HTML code for the scrollProgressBar*/
/*
<div class="progressBarPosition">
    <div class="progressContainer">
        <div id="progressBar" class="progressBar"></div>
    </div>
</div>  
*/

.reveal{
    position: relative;
    transform: scale(0.6);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: scale(1);
    opacity: 1;
}