.projectHeader {
    color: rgb(19, 19, 19);
    text-align: center;
    padding: 5px;
}
.projectDescHeader {
    color: rgb(55, 55, 55);
    padding-left: 20px;
}
.navButton {
    background-color: rgb(19, 19, 19);
    color: white;
    border: inset 4px rgb(19, 19, 19);
    padding: 5px 10px;
    font-family: unbounded;
    text-align: center;
    font-size: 14px;
    border-radius: 25px;
    transition-duration: 0.25s;
    left: 50%;
    margin: 0;
}
.navButton:hover {
    color: rgb(26, 26, 26);
    background-color: white;
    font-size: 15px;
    transition-duration: 0.25s;
}