<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/enter.css">
    <script src=""></script>
    
    <title>Franz Röhrle</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/LogoVar3.png">
</head>
<body onload="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <br>
    <div id="header" class="header">
        <p style="font-size: 10px; color: rgb(255, 0, 0); user-select: none;">Under Construction</p>
    </div>
    <br>
    <section style="height: 100vh;">

        <div class="video-container">
            <video autoplay loop muted playsinline>
                <source src="/static/assets/bgLogoAnim.mp4" type="video/mp4">
            </video>
        </div>

    </section>

    <div id="footer" class="footer">
        <p style="font-size: 10px; color: rgba(152, 152, 152, 0.159); user-select: none;">Franz Röhrle ©2023</p>
    </div>
    

</body>
</html>
