<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unbounded">
    <title>DEINPROJEKT</title>
</head>
<body>
    <p class="version" style="font-family:unbounded;">website v.pre0.7</p>
    <div class="center">
        <span>
            <h1 class="projectHeader"><span style="font-family:unbounded">DEIN PROJEKT</span></h1>
        </span>
        <span>
            <button class="activeButton enterButtonActive">Home</button>
            <a href="http://127.0.0.1:5000/projects"><button class="navButton enterButton">Projekte</button></a>
            <a href="http://127.0.0.1:5000/unserprojekt"><button class="navButton enterButton">Unser Projekt</button></a>
        </span>
    </div>
</body>
</html>
