<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script src="/static/javascript/index.js"></script>
    <title>Tinker!</title>
</head>
<body onload="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div>
        <div id="content">
            <div id="menuBody" style="padding-top: 7%;">

                <div class="col-1 col-t-1"></div>

                <div class="displayBox col-10 col-t-8">
                    <h1>Was ist Tinker?</h1>
                    <p>Tinker ist ein Projekt aus dem Projektkurs Mathe der Gesamtschule Fröndenberg. Mit 
                        Tinker wollen wir euch die Projektarbeiten der Schule 
                        näher bringen und sie für alle Schüler bzw. Eltern zum Anschauen verfügbar machen. 
                        Tinker kommt aus dem englischen, und bedeutet so viel wie herumbasteln oder 
                        experimentieren.
                    </p>

                    <button id="projekteButton" class="navButton" onclick="projekteDepress()">Projekte</button>
                    <br>

                    <h1>Entwicklung von Tinker</h1>
                    <p>Tinker basiert auf dem Webframework Flask, und wurde mit den Programmiersprachen HTML, 
                        CSS und Javascript programmiert. Tinker durchlief drei Monate aktive Entwicklung, 
                        und wurde vom Boden auf von Hand, ohne sämtliche APIs oder Stützen gebaut. 
                        Die Entwicklung von Tinker verlief zu Beginn holprig, da HTML, CSS und Javascript 
                        Neuland für die Entwickler waren, auf das Ende zulaufend verlief die Entwicklung 
                        dann aber fließend. Als Host für die Website benutzen wir Linode, ein Unternehmen 
                        welches Webspaces für akzeptable Preise vermietet.
                    </p>
                    <button class="navButton" style="background-color: rgb(86, 122, 187); border: 2px solid rgb(86, 122, 187);" onclick="flaskRedirect()" >Flask</button>
                    <button class="navButton" style="background-color: rgb(86, 122, 187); border: 2px solid rgb(86, 122, 187);" onclick="linodeRedirect()" >Linode</button>
                </div>

                <div class="col-1 col-t-1"></div>
                
            </div>

            <div id="projekteBody" class="hidden" style="padding-top: 7%;">

                <div class="col-1 col-t-1"></div>

                <div class="displayBox col-10 col-t-10 col-s-11">
                    <h1 style="font-size: 23px; text-align: center;">Wähle hier den gewünschten Projektkurs</h1>
                    <div class="centerButtons" style="margin: 1px; display: inline;">
                        <a style="text-decoration: none;" href="#mathe">                                   
                            <button class="navButton">PX M</button>                   
                        </a>
                        <a style="text-decoration: none;" href="#geschichtePädagogik">                                   
                            <button class="navButton">PX GeP</button>                   
                        </a>
                        <a style="text-decoration: none;" href="#biochemie">                                   
                            <button class="navButton">PX Bc</button>                   
                        </a>
                        <a style="text-decoration: none;" href="#kunstReligion">                                   
                            <button class="navButton">PX KuRe</button>                   
                        </a>
                    </div>

                    <div id="projektDisplay">

                        <h1 id="mathe" style="padding-top: 50px;" class="projekteHeader">Projektkurs Mathe</h1>

                        <div style="padding-top: 50px; padding-bottom: 50px;">
                            <div class="projects-gallery-grid projects-gallery-gridT projects-gallery-gridS">
                                <div class="projects-gallery projects-galleryT projects-galleryS">
    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">passTest1</h1>
                                        <button class="navButton" style="float: right; margin-right: 10px;" onclick="passTest1()">Lesen</button>                   
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
    
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">passTest2</h1>
                                        <button class="navButton" style="float: right; margin-right: 10px;" onclick="passTest2()">Lesen</button>                                     
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                            </div>
                        </div>
                      
                        <h1 id="geschichtePädagogik" class="projekteHeader">Projektkurs Geschichte/Pädagogik</h1>
               
                        <div style="padding-top: 50px; padding-bottom: 50px;">
                            <div class="projects-gallery-grid projects-gallery-gridT projects-gallery-gridS">
                                <div class="projects-gallery projects-galleryT projects-galleryS">
    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
    
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS" onclick="passTest2()">
                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                            </div>
                        </div>

                        <h1 id="biochemie" class="projekteHeader">Projektkurs Biochemie</h1>
               
                        <div style="padding-top: 50px; padding-bottom: 50px;">
                            <div class="projects-gallery-grid projects-gallery-gridT projects-gallery-gridS">
                                <div class="projects-gallery projects-galleryT projects-galleryS">
    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
    
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS" onclick="passTest2()">
                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                            </div>
                        </div>

                        <h1 id="kunstReligion" class="projekteHeader">Projektkurs Kunst/Religion</h1>
               
                        <div style="padding-top: 50px; padding-bottom: 50px;">
                            <div class="projects-gallery-grid projects-gallery-gridT projects-gallery-gridS">
                                <div class="projects-gallery projects-galleryT projects-galleryS">
    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
    
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS" onclick="passTest2()">
                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                                <div class="projects-gallery projects-galleryT projects-galleryS">
                                                                    
                                    <div style="margin-top: 8px; margin-bottom: 8px;">
                                        <h1 class="projects-galleryHeader">Projekt Ueberschrift</h1>
                                        <a href="/static/projektarbeiten/test/Tinker.pdf">                                   
                                            <button class="navButton" style="float: right; margin-right: 10px;">Lesen</button>                   
                                        </a>
                                    </div>
                                    <embed class="pdfDisplay" src="/static/projektarbeiten/test/Tinker.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit&zoom=25"  width="100%" height="87%" />
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1 col-t-1 col-s-1"></div>
                
            </div>
        </div>
        
    </div>

</body>
</html>