<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unbounded">
    <script src="/static/javascript/index.js"></script>
    <title>DEINPROJEKT</title>
</head>
<body onload="atHome()">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div id="version">
        <span style="display: inline-flex;">
            <p class="version" style="font-family:unbounded;">website v.pre1.6</p>
            <a href="https://www.linode.com">
                <img src="/static/assets/linode.png" width="36" height="12" style="padding-top: 12px; padding-left: 7px; opacity: 20%;">
            </a>
        </span>
    <div>

    <div>

        <div class="header">
            <h1>DEIN PROJEKT</h1>
        </div>

        <div id="buttons" class="col-12 col-t-12 col-s-12" style="border: solid black 2px;">
            <div id="pxButtons" class="centerButtons hidden moveIn">
                <button id="backButton" class="backButton" onclick="backButton()">BACK</button>
                <button id="pxm" class="navButton">PX M1</button>
                <button id="pmbc" class="navButton">PX BC1</button>
                <button id="pxkure" class="navButton">PX KuRe</button>
                <button id="pxgep" class="navButton">PX GEP</button>
            </div>
            <div id="menuButtons" class="centerButtons">
                <button id="unserProjektButton" class="navButton" onclick="makeUnserProjektActiveButton()">Unser Projekt</button>
                <button id="projekteButton" class="navButton" onclick="makeProjekteActiveButton()">Projekte</button>
            </div>

        <div class="col-12 col-t-12 col-s-12" style="border: solid black 2px; padding-top: 50px;">
            <div class="projects-gallery-grid projects-gallery-gridT projects-gallery-gridS">
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/projectImageTest.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/projectImageTest.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/projectImageTest.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/projectImageTest.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/projectImageTest.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
            </div>
            
        </div>

        <div class="col-12 col-t-12 col-s-12">
            <div class="footer-grid">
                <div class="footer-item"><p>Developer</p></div>
                <div class="footer-item"><p>Schule</p></div>
                <div class="footer-item"><p>linode und seitenversion</p></div>
            </div> 
        </div>
           

    <div>

</body>
</html>
