<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unbounded">
    <script src="/static/javascript/index.js"></script>
    <title>THECREATIVECORNER</title>
</head>
<body onload="atHome()">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div id="version">
        <span style="display: inline-flex;">
            <p class="version">website v.pre1.6</p>
            <a href="https://www.linode.com">
                <img src="/static/assets/linode.png" width="36" height="12" style="padding-top: 12px; padding-left: 7px; opacity: 20%;">
            </a>
        </span>
    </div>

    <div>

        <div class="header">
            <h1 class="headerFont">Dein Projekt</h1>
        </div>

        <div id="buttons" class="col-12 col-t-12 col-s-12" style="border: solid black 2px;">
            <div id="pxButtons" class="centerButtons hidden">
                <button id="backButton" class="backButton" onclick="backButton()">BACK</button>
                <button id="pxm" class="navButton" onclick="showPxmProjekte()">PX M1</button>
                <button id="pxbc" class="navButton" onclick="showPxbcProjekte()">PX BC1</button>
                <button id="pxkure" class="navButton" onclick="showPxkureProjekte()">PX KuRe</button>
                <button id="pxgep" class="navButton" onclick="showPxgepProjekte()">PX GEP</button>
            </div>
            <div id="menuButtons" class="centerButtons">
                <button id="unserProjektButton" class="navButton" onclick="makeUnserProjektActiveButton()">Unser Projekt</button>
                <button id="projekteButton" class="navButton" onclick="makeProjekteActiveButton()">Projekte</button>
            </div>
        </div>

        <div id="selectProjektkursPromt" class="col-12 col-t-12 col-s-12 hidden" style="padding-top: 20%;">
            <p style="color: rgb(161, 161, 161);; text-align: center; font-size: 17px;">Bitte Projektkurs Auswählen!</p>
        </div>

        <div id="unserProjekt" class="col-12 col-t-12 col-s-12" style="padding-top: 15%; padding-bottom: 50px;">
            <div class="col-4 col-t-4 col-s-12" style="border: solid black 2px;">
                <div class="displayBox textAlign">
                    <h1>Roadmap</h1>
                    <p>This is a test This is a test This is a test This is a test This is a test This is a test This is a test</p>
                </div>   
            </div>
            
            <div class="col-8 col-t-8 col-s-12" style="border: solid black 2px;">
                <div class="displayBox textAlign">
                    <h1>Unser Projekt</h1>
                    <p>This is a test This is a test This is a test This is a test This is a test This is a test This is a test</p>  
                </div>
                
            </div>
        </div>
        
        <div id="pxmProjekte" class="col-12 col-t-12 col-s-12 hidden" style="border: solid black 2px; padding-top: 50px; padding-bottom: 50px;">
            <div class="projects-gallery-grid projects-gallery-gridT projects-gallery-gridS">
                <div class="projects-gallery projects-galleryT projects-galleryS" onclick="passTest1()">
                    <img src="/static/assets/pxm1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS" onclick="passTest2()">
                    <img src="/static/assets/pxm1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxm1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxm1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxm1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
            </div>
        </div>

        <div id="pxbcProjekte" class="col-12 col-t-12 col-s-12 hidden" style="border: solid black 2px; padding-top: 50px; padding-bottom: 50px;">
            <div class="projects-gallery-grid projects-gallery-gridT projects-gallery-gridS">
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxbc1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxbc1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxbc1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxbc1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxbc1_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
            </div>
        </div>

        <div id="pxkureProjekte" class="col-12 col-t-12 col-s-12 hidden" style="border: solid black 2px; padding-top: 50px; padding-bottom: 50px;">
            <div class="projects-gallery-grid projects-gallery-gridT projects-gallery-gridS">
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxkure_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxkure_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxkure_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxkure_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxkure_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
            </div>
        </div>

        <div id="pxgepProjekte" class="col-12 col-t-12 col-s-12 hidden" style="border: solid black 2px; padding-top: 50px; padding-bottom: 50px;">
            <div class="projects-gallery-grid projects-gallery-gridT projects-gallery-gridS">
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxgep_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxgep_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxgep_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxgep_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
                <div class="projects-gallery projects-galleryT projects-galleryS">
                    <img src="/static/assets/pxgep_image.jpg" alt="projectImageTest"></a>
                    <div class="projects-galleryHeader">Projekt Ueberschrift</div>
                    <div class="projects-galleryDesc">Unser Projekt beinhaltet viele dinge wie das gamblen von sachen auf google und youtube hallo das ist seht cool ne?</div>
                </div>
            </div>
        </div>

        <div class="col-12 col-t-12 col-s-12">
            <div class="footer-grid">
                <div class="footer-item"></div>
                <div class="footer-item footer-itemS footer-itemT">
                    <p>Ein Projekt aus dem Projektkurs Mathe der Gesamtschule Fröndenberg</p>
                </div>
                <div class="footer-item" style="display: inline-flex;"></div>
            </div> 
        </div>
        
    </div>

</body>
</html>
