<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/latest.css">
    <script src="/static/javascript/latest.js"></script>
    
    <title>Latest Pieces</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/LogoVar3.png">
</head>
<body onload="" oncontextmenu="return false;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="header">
      <a href="https://franzroehrle.com/home">
          <p class="info">franzroehrle.com</p>
          <p class="info" style="padding-top: 20px; opacity: 50%; font-size: 12px;">Scroll to preview newest pieces</p>
          <p class="info" style="font-size: 10px; color: rgba(255, 255, 255, 0.268); user-select: none; padding-top: 35px;">Franz Röhrle ©2023</p>
      </a>
      
      <div class="info" style="padding-left: 202px; padding-top: 7px; pointer-events: none;">
          <a style="pointer-events: all;" href="//www.dmca.com/Protection/Status.aspx?ID=e62bcfaf-9b1c-44c2-a1be-575b149335bc" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=e62bcfaf-9b1c-44c2-a1be-575b149335bc"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
      </div>
    </div>

    <div class="external">
        <div class="horizontal-scroll-wrapper">
          <div class="img-wrapper slower">
            <img src="https://www.mediafire.com/convkey/dae1/yipof66umvf67lgzg.jpg" alt="">
          </div>
      
          <div class="img-wrapper faster">
            <img src="https://www.mediafire.com/convkey/bfe2/7vijmm1gxs0m8ys9g.jpg" alt="">
          </div>
      
          <div class="img-wrapper slower vertical">
            <img src="https://www.mediafire.com/convkey/79ba/5cy0h8cvg69t48h9g.jpg" alt="">
          </div>
      
          <div class="img-wrapper slower slower-down">
            <img src="https://www.mediafire.com/convkey/5039/2pzbop0zkxie9yd9g.jpg" alt="">
          </div>
      
          <div class="img-wrapper slower">
            <img src="https://www.mediafire.com/convkey/84b9/grnq1aesh3rbac69g.jpg" alt="">
          </div>
      
          <div class="img-wrapper faster">
            <img src="https://www.mediafire.com/convkey/1196/sxvq7hlaj2mltdp9g.jpg" alt="">
          </div>
      
          <div class="img-wrapper slower vertical last">
            <img src="https://www.mediafire.com/convkey/26bc/g4tttdxj36w3k3z9g.jpg" alt="">
          </div>
        

        </div>


        <div class="info" style="padding-top: 60px;">
          <a href="https://franzroehrle.com/portfolio">
            <button class="specialButton buttonScaleAnim">
              See all
            </button>
          </a>
        </div>

        

        <header> 
        </header>

        <div class="footer">
          
        </div>

        

      </div>
      
      

</body>
</html>
