<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/portfolio.css">
    <script src="/static/javascript/portfolio.js"></script>
    
    <title>Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/LogoVar3.png">
</head>
<body onload="filterload()" oncontextmenu="return false;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <div class="main">

        <h1>MYLOGO.COM</h1>
        <hr>
        
        <h2>PORTFOLIO</h2>
        
        <div id="myBtnContainer">
          <button class="btn active" onclick="filterSelection('all')"> Show all</button>
          <button class="btn" onclick="filterSelection('jan')"> Jan</button>
          <button class="btn" onclick="filterSelection('feb')"> Feb</button>
          <button class="btn" onclick="filterSelection('mar')"> Mar</button>
          <button class="btn" onclick="filterSelection('apr')"> Apr</button>
          <button class="btn" onclick="filterSelection('may')"> May</button>
          <button class="btn" onclick="filterSelection('jun')"> Jun</button>
          <button class="btn" onclick="filterSelection('jul')"> jul</button>
          <button class="btn" onclick="filterSelection('Aug')"> Aug</button>
          <button class="btn" onclick="filterSelection('Sep')"> Sep</button>
          <button class="btn" onclick="filterSelection('Oct')"> Oct</button>
          <button class="btn" onclick="filterSelection('Nov')"> Nov</button>
          <button class="btn" onclick="filterSelection('Dec')"> Dec</button>
        </div>
        
        <!-- Portfolio Gallery Grid -->
        <div class="row">
          <div class="column nature">
            <div class="content">
              <img src="https://www.mediafire.com/convkey/dae1/yipof66umvf67lgzg.jpg" alt="Mountains" style="width:100%">
              <h4>Mountains</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column nature">
            <div class="content">
            <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
              <h4>Lights</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column nature">
            <div class="content">
            <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
              <h4>Forest</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          
          <div class="column cars">
            <div class="content">
              <img src="/w3images/cars1.jpg" alt="Car" style="width:100%">
              <h4>Retro</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column cars">
            <div class="content">
            <img src="/w3images/cars2.jpg" alt="Car" style="width:100%">
              <h4>Fast</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column cars">
            <div class="content">
            <img src="/w3images/cars3.jpg" alt="Car" style="width:100%">
              <h4>Classic</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
        
          <div class="column people">
            <div class="content">
              <img src="/w3images/people1.jpg" alt="Car" style="width:100%">
              <h4>Girl</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column people">
            <div class="content">
            <img src="/w3images/people2.jpg" alt="Car" style="width:100%">
              <h4>Man</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column people">
            <div class="content">
            <img src="/w3images/people3.jpg" alt="Car" style="width:100%">
              <h4>Woman</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
        <!-- END GRID -->
        </div>
        
        <!-- END MAIN -->
        </div>

</body>
</html>
