<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/portfolio.css">
    <script src="/static/javascript/portfolio.js"></script>
    
    <title>Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/LogoVar3.png">
</head>
<body onload="loadSearchFilter()" oncontextmenu="return false;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


      <a href="https://franzroehrle.com">
          <p class="info">franzroehrle.com</p>
          <p class="info" style="padding-top: 26px; opacity: 50%; font-size: 12px;">Scroll to preview portfolio</p>
          <p class="info" style="font-size: 10px; color: rgba(255, 255, 255, 0.328); user-select: none; padding-top: 43px;">Franz Röhrle ©2023</p>
      </a>

      <div class="info" style="padding-left: 202px; padding-top: 25px; pointer-events: none;">
        <a style="pointer-events: all;" href="//www.dmca.com/Protection/Status.aspx?ID=e62bcfaf-9b1c-44c2-a1be-575b149335bc" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=e62bcfaf-9b1c-44c2-a1be-575b149335bc"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
      </div>

      
      <button id="toTopBtn" class="toTopBtn" onclick="topFunction()">Top</button>
      
      <div id='items' class='items'></div>
	
      <div><a href="javascript:void(0)" class="btn" onclick="loadData()">Load more</a></div>
      
      <template id='template'>
        <div class="item-image">
        <img src="https://www.thatsoftwaredude.com/images/collections/e2bf959c-914b-45c0-8f16-b869e923f674.png">
        </div>
        <div class="item-title">{{title}}</div>
      </template>

      <!--
      <div class="main">
        <div style="padding-top: 40px;">
          <p style="text-align: center; margin: 0;">scroll me</p>
        </div>

        <div style="margin: 7px;" >
          <button class="btn" style="background-color: rgb(43, 183, 81);" onclick="filterSelection('all')"> Show all</button>
          <button class="btn" onclick="filterSelection('jan')"> Jan</button>
          <button class="btn" onclick="filterSelection('feb')"> Feb</button>
          <button class="btn" onclick="filterSelection('mar')"> Mar</button>
          <button class="btn" onclick="filterSelection('apr')"> Apr</button>
          <button class="btn" onclick="filterSelection('may')"> May</button>
          <button class="btn" onclick="filterSelection('jun')"> Jun</button>
          <button class="btn" onclick="filterSelection('jul')"> jul</button>
          <button class="btn" onclick="filterSelection('Aug')"> Aug</button>
          <button class="btn" onclick="filterSelection('Sep')"> Sep</button>
          <button class="btn" onclick="filterSelection('Oct')"> Oct</button>
          <button class="btn" onclick="filterSelection('Nov')"> Nov</button>
          <button class="btn" onclick="filterSelection('Dec')"> Dec</button>
        </div>-->

        <!-- 
          <div class="column columnT columnS columnSMALL">
            <div class="content">
              <img src="https://www.mediafire.com/convkey/dae1/yipof66umvf67lgzg.jpg" alt="" style="width:100%">
              <p class="date">10/02/2023</p>
            </div>
            <div class="content">
              <img src="https://www.mediafire.com/convkey/5039/2pzbop0zkxie9yd9g.jpg" alt="" style="width:100%">
              <p class="date">10/02/2023</p>
            </div>
            <div class="content">
              <img src="https://www.mediafire.com/convkey/26bc/g4tttdxj36w3k3z9g.jpg" alt="" style="width:100%">
              <p class="date">10/02/2023</p>
            </div>
            <div class="content">
              <img src="https://www.mediafire.com/convkey/bfe2/7vijmm1gxs0m8ys9g.jpg" alt="" style="width:100%">
              <p class="date">10/02/2023</p>
            </div>
        </div>

        
        <div class="column columnT columnS columnSMALL">
          <div class="content">
            <img src="https://www.mediafire.com/convkey/bfe2/7vijmm1gxs0m8ys9g.jpg" alt="" style="width:100%">
            <p class="date">10/02/2023</p>
          </div>
          <div class="content">
            <img src="https://www.mediafire.com/convkey/84b9/grnq1aesh3rbac69g.jpg" alt="" style="width:100%">
            <p class="date">10/02/2023</p>
          </div>
          <div class="content">
            <img src="https://www.mediafire.com/convkey/dae1/yipof66umvf67lgzg.jpg" alt="" style="width:100%">
            <p class="date">10/02/2023</p>
          </div>
          <div class="content">
            <img src="https://www.mediafire.com/convkey/79ba/5cy0h8cvg69t48h9g.jpg" alt="" style="width:100%">
            <p class="date">10/02/2023</p>
          </div>
        </div>
        
        
        <div class="column columnT columnS columnSMALL">
          <div class="content">
            <img src="https://www.mediafire.com/convkey/79ba/5cy0h8cvg69t48h9g.jpg" alt="" style="width:100%">
            <p class="date">10/02/2023</p>
          </div>
          <div class="content">
            <img src="https://www.mediafire.com/convkey/1196/sxvq7hlaj2mltdp9g.jpg" alt="" style="width:100%">
            <p class="date">10/02/2023</p>
          </div>
          <div class="content">
            <img src="https://www.mediafire.com/convkey/bfe2/7vijmm1gxs0m8ys9g.jpg" alt="" style="width:100%">
            <p class="date">10/02/2023</p>
          </div>
        </div>
      -->
        
        
      </body>
      </html>
      