<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/projects.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unbounded">
    <title>DEINPROJEKT</title>
</head>
<body>
    <p class="version" style="font-family:unbounded;">website v.pre0.7</p>
    <div>
        <span>
            <h1 class="projectHeader"><span style="font-family:unbounded">DEIN PROJEKT</span></h1>
        </span>
    </div>
</body>
</html>
