<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unbounded">
    <script src="/static/javascript/projektTemplate.js"></script>
    <title>TinkerDemoloader</title>
</head>
<body id="projektTemplateBody" onload="pageLoader()">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div>
        
        <div class="col-12 col-t-12 col-s-12" style="padding-top: 25px;">
            <h1 id="testBoxHigh"></h1>
            <p>sscf</p>
        </div>
        
    </div>
    
</body>
</html>
